<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="hd">
    <div class="nav">
        <a href="/index.html" class="logo"></a>
        <ul class="menu">
            <li>
                <a href="spr_board.html">스프링</a>
            </li>
            <li>
                <a href="#">공지사항</a>
            </li>
        </ul>
        <div class="sign_wrap">
            <a href="/member/login" id="login_btn">로그인</a>
            <a href="/member/register" id="reg_btn">회원가입</a>
        </div>
    </div>
</header>
</html>