<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns.layout="http://ultraq.net.uz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="~{header::hd}"></header>
<section>
    <div class="sec_wrap sec_bd_wrap">
        <div class="sec_bd_desc">
            <p class="sec_tit sec_bd_tit">스프링 게시판</p>
            <span>스프링 부트 프로젝트로 만든 게시판입니다.</span>
        </div>
        <div class="bd_lst_container">
            <div class="spr_wrap bd_wrap">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>댓글수</th>
                        <th>작성자</th>
                        <th>작성시간</th>
                        <th>조회수</th>
                        <th>좋아요</th>
                        <th>싫어요</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boardList: ${boardList}">
                        <td th:text="${boardList.boardId}"></td>
                        <td class="bd_lst_tit">
                            <a th:text="${boardList.boardTitle}" th:href="@{|/board/spr_board/${boardList.boardId}|}"></a>
                        </td>
                        <td th:text="${boardList.boardCommentCnt}"></td>
                        <td th:text="${boardList.boardWriter}"></td>
                        <td th:text="${boardList.boardDate}"></td>
                        <td th:text="${boardList.boardViewCnt}"></td>
                        <td th:text="${boardList.boardLike}"></td>
                        <td th:text="${boardList.boardDislike}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="sec_bd_paging">
                <ul>
                    <li><a href="#">&lt;&lt;</a></li>
                    <li><a href="#">&lt;</a></li>
                    <li class="cur_page"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                    <li><a href="#">&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>